@import "base";

a {
  @include link-colors(#369);
  @include hover-link;
}

body {
  background: image-url("candyhole.png");
  padding: $padding 0;
}

#hd, #bd, #ft {
  @include sp-wrapper;
  margin-bottom: 10px;
}

#hd, #ft {
  background: white;
  @include border-radius(3px);
  @include box-shadow(0 1px 2px rgba(#000,.15));
  .inner {
    padding: $padding;
  }
}

#bd {
  @extend .clearfix;
  #main {
    background: white;
    @include border-radius(3px);
    @include box-shadow(0 0 3px rgba(#000,.2));
    z-index: 2;
    position: relative;
  }
  .wrapper {
    margin-top: 70px;
    position: relative;
  }
}

#main {
  @include sp-main;
}
body.no-sidebar #main {
  @include sp-un-main;
}

#sidebar {
  @include sp-sidebar;
  position: relative;
  z-index: 3;
  @extend .font-s;
  li {
    @include margin-trailer(.5,$font-s);
  }
}