%h2.hide 主選單
%ul
  %li.home.current
    %a{:href => "#"}
      %span.en Home
      %span.tw 首頁
  %li.about
    %a{:href => "#"}
      %span.en About
      %span.tw 關於活動
  %li.artists
    %a{:href => "#"}
      %span.en Artists
      %span.tw 樂團介紹
  %li.lineup
    %a{:href => "#"}
      %span.en Line up
      %span.tw 節目時間表
  %li.tickets
    %a{:href => "#"}
      %span.en Tickets
      %span.tw 購票說明
  %li.goods
    %a{:href => "#"}
      %span.en Goods
      %span.tw 紀念商品
  %li.stage
    %a{:href => "#"}
      %span.en Stage
      %span.tw 場地介紹
  %li.venue
    %a{:href => "#"}
      %span.en Venue
      %span.tw 交通住宿
  %li.history
    %a{:href => "#"}
      %span.en History
      %span.tw 活動歷史
  %li.contact
    %a{:href => "#"}
      %span.en Contact
      %span.tw 聯絡資訊